{% extends 'base.html' %}
{% load static %}
{% block title %}
  CV - detect
{% endblock %}

{% block content %}
<div class="container mt-5 ">
    

    <h3 class="custom-h1">Register Patient</h3>

    {% if submitted %}
      <div class="alert alert-success" role="alert">
        Patient saved successfully!
      </div>
    {% else %}
    
    <div class="row col-md-12 g-2 rounded" style="background-color: #f2f2f2;">
        <div class="col-md-6" >
          <form action="{% url 'addPatient' %}" method="POST" class="border p-3 rounded shadow">
            {% csrf_token %}
      
            {{ form.label_tag }}
            {{ form }}
      
            <br/><button type="submit" class="btn btn-secondary">Submit</button>
          </form>

        </div>
        
        <div class="col-md-6">
            <div class="card shadow">
              <img src="{% static 'images/heart.webp' %}" style="height: 320px;" class="card-img-top " alt="Image">
              <div class="card-body">
                <h5 class="card-title">CVDetaect</h5>
                <p class="card-text">Healthy Heart, Healthy Life!</p>
              </div>
            </div>
          </div>
        </div>
      
       
      
    
    {% endif %}
  </div>
{% endblock %}


