{% extends 'base.html' %}

{% block title %}
  CV - detect
{% endblock %}

{% block content %}
<div class="container mt-5 ">
    

    <h3 class="mb-4">Patient Details</h3>

    {% if submitted %}
      <div class="alert alert-success" role="alert">
        Patient saved successfully!
      </div>
    {% else %}
    
      <form action="{% url 'addPatient' %}" method="POST" class="border p-3 rounded shadow   "style="background-color: #f2f2f2;">
        {% csrf_token %}
        
        <div class="mb-3">
          {{ form.label_tag }}
          {{ form }}
        </div>

        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    {% endif %}
  </div>
{% endblock %}
