{% extends 'base.html' %}

{% block content %}
{% if user.is_superuser %}
  <h1 class="custom-h1 ">Appointment List  <a class="btn btn-secondary float-end" href="{% url 'appointment_csv' %}">Download Appointment report</a>
   
  </h1>
  
  {% else %}
  <h1 class="custom-h1 ">Appointment List</h1>
  {% endif %}
  <div class="row">
    {% for appointment in appointments %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Appointment Details</h5>
            <p class="card-text">
              <strong>Patient:</strong> {{ appointment.patient }}<br>
              <strong>Doctor:</strong> {{ appointment.doctor }}<br>
              <strong>Date and Time:</strong> {{ appointment.date }} {{ appointment.time }}<br>
              <strong>Reason for Appointment:</strong> {{ appointment.purpose }}
            </p>
          </div>
        </div>
      </div>
    {% endfor %}
   
  </div>
{% endblock %}
