{% extends 'base.html' %} 
{% load static %}

{% block title %}
  CV - Detect
{% endblock %}
{{message}}

{% block content %}
<style>
  body {
    background-color: #fcf6f6; /* Light grey background color */
  }
</style>

<div class="container-fluid p-1 shadow" style="background-color: #1e145a; ">
  <div class="row g-1">
    <div class="col-md-6 hero-section">
      <div class="hero-content text-center text-white">
        <div class="container p-4 bg-dark bg-opacity-75 rounded">
          <h1 class="display-4">CV-Detect</h1>
          <p class="lead">Predicting Cardiovascular Diseases</p>
          <hr class="my-4">
          {% if user.is_authenticated %}
            {% with profile=user.profile %}
              {% if user.profile.role == 'doctor' %}
                <p>Hello Dr {{ user.username }}!</p>
                <a class="btn btn-primary btn-lg" href="{% url 'profile' pk=user.pk %}" role="button">Click here to get started</a>
              {% elif user.profile.role == 'nurse' %}
                <p>Hello Nurse {{ user.username }}!</p>
                <!-- Add specific content or links for nurses if needed -->
                <a class="btn btn-primary btn-lg" href="{% url 'profile' pk=user.pk %}" role="button">Click here to get started</a>

              {% elif user.profile.role == 'secretary' %}
                <p>Hello Secretary {{ user.username }}!</p>
                <!-- Add specific content or links for secretaries if needed -->
                <a class="btn btn-primary btn-lg" href="{% url 'profile' pk=user.pk %}" role="button">Click here to get started</a>

                {% elif user.profile.role == 'labTech' %}
                <p>Hello Lab Technician {{ user.username }}!</p>
                <!-- Add specific content or links for secretaries if needed -->
                <a class="btn btn-primary btn-lg" href="{% url 'profile' pk=user.pk %}" role="button">Click here to get started</a>


              {% elif user.profile.role == 'admin' %}
                <p>Hello Admin {{ user.username }}!</p>
                <!-- Add specific content or links for secretaries if needed -->
                <a class="btn btn-primary btn-lg" href="{% url 'profile' pk=user.pk %}" role="button">Click here to get started</a>


              {% else %}
                <p>Hello {{ user.username }}!</p>
              {% endif %}
            {% endwith %}
          {% else %}
            <p>Explore our features and start your journey towards a healthier life.</p>
            <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Log in to Get Started</a>
          {% endif %}
        </div>
      </div>
    </div>
  

<br/>
    <div class="col-md-3">
      <!-- Add other content in the right column if needed -->
      <div class="card shadow h-100">
        <img src="{% static 'images/heart5.jpg' %}" class="card-img-top img-fluid" style="height: 170px;" alt="Placeholder Image">
        <div class="card-body  ">
          <h5 class="card-title">Heart Health Insights</h5>
            <p class="card-text">Discover personalized insights for heart health. </p>
          </div>
        
    </div>
    

  </div><br/>
  <div class="col-md-3 shadow">
    <!-- Add other content in the right column if needed -->
    <div class="card h-100">
      <img src="{% static 'images/heart3.jpg' %}" class="card-img-top img-fluid" style="height: 170px;" alt="Placeholder Image">
      <div class="card-body ">
        <h5 class="card-title">Cardio Tips</h5>
        <p class="card-text">Explore insights and tips for a healthier heart.</p>
              </div>
      
  </div>
  

</div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow animate__animated animate__bounce infinite">
        <img src="{% static 'images/health.jpg' %}" class="card-img-top img-fluid" style="height: 200px;" alt="Feature 1">
        <div class="card-body  bg-dark text-white">
          <h5 class="card-title">Heart Monitoring</h5>
          <p class="card-text">Tailor your cardiovascular journey with advanced features to monitor, analyze, and improve your heart's well-being.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow animate__animated animate__bounce">
        <img src="{% static 'images/health2.png' %}" class="card-img-top img-fluid" style="height: 200px;" alt="Feature 2">
        <div class="card-body  bg-dark text-white">
          <h5 class="card-title">Risk Assessment</h5>
          <p class="card-text"> Customize as needed for your cardiovascular well-being.</p>
        </div>
      </div>
    </div>

    <div class="col-md-4 mb-4">
      <div class="card h-100 shadow">
        <img src="{% static 'images/health3.jpg' %}" class="card-img-top img-fluid" style="height: 200px;" alt="Feature 3">
        <div class="card-body  bg-dark text-white">
          <h5 class="card-title">Health Insights</h5>
          <p class="card-text">Explore personalized health insights and recommendations for a better cardiovascular lifestyle.</p>
          
                  </div>
      </div>
    </div>
  </div>
</div>



<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
{% endblock %}
