{% extends 'base.html' %}
{% load static %}
{% block title %}
  CV - detect
{% endblock %}

{% block content %}
<div class="container mt-5">

  <h3 class="custom-h1">Login</h3>

  {% if user.is_authenticated %}
    <div class="alert alert-warning" role="alert">
      You are already logged in.
    </div>
  {% else %}
    <div class="row col-md-12 g-2 rounded" style="background-color: #f2f2f2;">
      <div class="col-md-6">
        <form method="POST" action="{% url 'login' %}" class="border p-3 rounded shadow">
          {% csrf_token %}

          <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input type="text" class="form-control" name="username" id="username" placeholder="Enter Your Username">
          </div>

          <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" name="password" id="password" placeholder="Enter Your Password">
          </div>

          <button type="submit" class="btn btn-secondary">Login</button>
        </form>
      </div>

      <div class="col-md-6">
        <div class="card shadow rounded">
          <img src="{% static 'images/heart3.jpg' %}" style="height: 150px;" class="card-img-top" alt="Image">
          <div class="card-body bg-dark text-white ">
            <h5 class="card-title">CVDetect</h5>
            <p class="card-text">Healthy Heart, Healthy Life!</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
</div>
{% endblock %}
