{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'home' %}"><span style="font-weight: bold; font-style: italic; color: #e2e9f0;">CVDetect</span></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
       

        {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          {% if user.profile.role == 'secretary' %}
          <li class="nav-item">
              <a class="nav-link" href="{% url 'addPatient' %}">Add Patient</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="{% url 'listPatient' %}">Registered Patients</a>
          </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listPatient' %}">Make Appointment</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'appointment_list' %}">View Appointments</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="{% url 'profile_list' %}">CVdoctors</a>
            </li>
          {% endif %}

          {% if user.profile.role == 'doctor' %}

          <li class="nav-item">
              <a class="nav-link" href="{% url 'view_assigned_patients' %}">Assigned Patients</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile_list' %}">CVdoctors</a>
          </li>

          {% endif %}

          {% if user.profile.role == 'nurse' %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'listPatient' %}">Registered Patients</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'appointment_list' %}">View Appointments</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'profile_list' %}">CVdoctors</a>
        </li>


          {% endif %}

          
         

          {% if user.is_superuser %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'profile_list' %}">System Users</a>
          </li>
          
            <li class="nav-item">
              <a class="nav-link" href="{% url 'listPatient' %}">Registered Patients</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'appointment_list' %}">View Appointments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'index' %}">Admin Dashboard</a>
          </li>

          {% endif %}

          <li class="nav-item" id="logout-link">
            <a class="nav-link" href="{% url 'logout' %}">Logout</a>
          </li>
          
        </ul>
        
      {% else %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-item" id="register-link">
            <a class="nav-link" href="{% url 'register_user' %}">Register</a>
          </li>
          <li class="nav-item" id="login-link">
            <a class="nav-link" href="{% url 'login' %}">Login</a>
          </li>
        </ul>
      {% endif %}

      </ul>

      {% if user.is_authenticated %}
        <ul class="navbar-nav ml-auto">
          <li class="nav-link navbar-brand">
            <a href="{% url 'profile' request.user.id %}">
              {% if user.profile.profile_image %}
                <img src="{{ user.profile.profile_image.url }}" class="rounded-circle" width=30>
              {% else %}
                <img src="{% static 'images/doctor.png' %}" class="img-fluid rounded-circle" alt="Profile Image" width=30>
              {% endif %}
            </a>
          </li>
        </ul>
      {% endif %}
    </div>
  </div>
</nav>

