{% extends 'base.html' %}  <!-- Adjust the base template as needed -->
{% block title %}
CV - Detect
{% endblock %}
{% block content %}





<div class="container-fluid mt-5">
    <h1 class="custom-h1">{{patient.firstName}}'s Prediction Result <a class="btn btn-primary" href="{% url 'result_pdf' %}">Download PDF</a>
    </h1>
  <div class="row">
    <div class="col-md-12">
      <div class="card"  style="overflow-x:auto; height: 100vh;">
        
        <div class="card-body p-0"> 
        <!-- Display the result message -->
        <table class="table table-success table-striped table-bordered">
          <tr>
              <th>Test</th>
              <th>Result</th>
              <th>Purpose of the test</th>
          </tr>
          {% for result in result_message|slice:":11" %}
          <tr>
              <td>{{ result.test }}</td>
              <td>{{ result.result|linebreaks }}</td>
              <td>{{ result.purpose |linebreaks }}</td>
          </tr>
      {% endfor %}
      </table>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
