{% extends 'base.html' %} 

{% block title %}
  CV - Detect
{% endblock %}

{% block content %}
  <div class="container mt-5">
   

    <h1 class="custom-h1">Registered Patients</h1>

    <table class="table table-hover table-striped table-bordered shadow">
      <thead class="thead-dark">
        <tr >
          <th class="bg-secondary text-white" scope="col ">Patient Name</th>
        </tr>
      </thead>
      <tbody>
        {% for patient in patientList %}
          <tr>
            <td>
              <a href="{% url 'showPatient' patient.id %}" class="text-decoration-none">{{ patient }}</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
