{% extends 'base.html' %} 
{% load static %}

{% block title %}
  CV - detect
{% endblock %}


{% block content %}
  <!-- <h1>CV-Detect</h1>

  <h3>Profile</h3> -->
  
  {% if profile %}
  
<div class="container text-center">
    <div class="row shadow">
       
        <div class="d-flex flex-column align-items-start bg-light shadow">
            {% if user.is_authenticated and user == profile.user %}
                <h3 class="display-9 mb-4">My Profile: {{ profile.user.username }}</h3>
            {% else %}
                <h3 class="display-9 mb-4">{{ profile.user.username }}'s Profile</h3>
            {% endif %}
        </div>
        
            
        <div class="row g-2">
            <div class="col-4 ">
                <!-- {% if profile.profile_image %}
                    <img src="{{ profile.profile_image.url }}" class="img-fluid rounded-circle" ><br/><br/>
                {% endif %} -->

            {% if profile.profile_image %}
                <img src="{{ profile.profile_image.url }}" class="img-fluid rounded img-thumbnail shadow " alt="Profile Image"><br/><br/>
            {% else %}
                <!-- Placeholder image -->
                <img src="{% static 'images/doctor2.png' %}" class="img-fluid rounded img-thumbnail shadow"style="height: 250px;"  alt="Placeholder Image"><br/><br/>
            {% endif %}


            </div>
            <div class="col-8">
                <table class="table table-hover table-striped table-bordered shadow">
                    <tbody>
                        <tr>
                            <th scope="row">First Name</th>
                            <td>{{ profile.user.first_name}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Last Name</th>
                            <td>{{ profile.user.last_name }}</td>
                        </tr>

                        <tr>
                            <th scope="row">Email</th>
                            <td>{{ profile.user.email}}</td>
                        </tr>

                        <tr>
                            <th scope="row">Phone</th>
                            <td>{{ profile.phone_number}}</td>
                        </tr>

                        <tr>
                            <th scope="row">Specialization</th>
                            <td>{{ profile.specialization}}</td>
                        </tr>
                        <!-- Add more rows for other profile information -->
                    </tbody>
                </table>
                {% if request.user.id == profile.user.id %}
                <a href="{% url 'updateUser' %}" class ="btn btn-secondary">Update Profile</a>
                {% endif %}
            </div>
        </div>
       

    
<div class="col-4">
    <!-- {% if profile.profile_image %}
    <img src="{{ profile.profile_image.url }}" class="img-fluid rounded-circle" ><br/><br/>
    {% endif %} -->
    {% if user.is_authenticated and user.profile == profile %}
    <div class="card shadow">
        <div class="card-header">
            <h5 class="d-inline">Currently Treating:</h5>
            <form class="float-end">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search patients">
                    <button class="btn btn-outline-secondary" type="button">Search</button>
                </div>
                <br/>
            </form>
            <a href="{% url 'addPatient' %}" class="btn btn-sm btn-secondary float-end mx-2">Create New Patient</a>
        </div>
        <div class="card-body">
            <p class="card-text">
                {% for treating in profile.treats.all %}
                    <a href="{% url 'showPatient' treating.id %}">AKUH{{ treating.id }}PK - {{ treating.firstName }} {{ treating.lastName }}</a><br/>
                    <!-- Add other patient attributes as needed -->
                {% endfor %}
            </p>
        </div>
    </div>
{% endif %}

 

  <br/><br/>
  <!-- <div class="card">
    <h5 class="card-header">Treated By</h5>
    <div class="card-body">
      <p class="card-text">
        {% for treating in profile.treated_by.all %}
        <a href="{% url 'profile' treating.user.id %}">@{{ treating }}</a><br/>
      
        {% endfor %}
      </p>
    </div>
  </div> -->

  

  </div>
</div>
</div>

  

{% endif %}
  
  
{% endblock %}