{% extends 'base.html' %} 
{% load static %}

{% block title %}
  CV - detect
{% endblock %}


{% block content %}
  <!-- <h1>CV-Detect</h1>

  <h3>Profile</h3> -->
  
  {% if profile %}
  
<div class="container text-center shadow"  style="background-color: rgba(242, 242, 242, 0.5); height: 85vh; overflow-y: auto;">
    <div class="row ">
       
        <div class="d-flex flex-column align-items-start bg-light shadow">
            {% if user.is_authenticated and user == profile.user %}
                <h3 class="display-9 mb-4">My Profile: {{ profile.user.username }}</h3>
            {% else %}
                <h3 class="display-9 mb-4">{{ profile.user.username }}'s Profile</h3>
            {% endif %}
        </div>
        
            
        <div class="row g-2">
            <div class="col-4 ">
                <!-- {% if profile.profile_image %}
                    <img src="{{ profile.profile_image.url }}" class="img-fluid rounded-circle" ><br/><br/>
                {% endif %} -->

            {% if profile.profile_image %}
                <img src="{{ profile.profile_image.url }}" class="img-fluid rounded img-thumbnail shadow " style="height: 220px;" alt="Profile Image"><br/><br/>
            {% else %}
                <!-- Placeholder image -->
                <img src="{% static 'images/doctor2.png' %}" class="img-fluid rounded img-thumbnail shadow"style="height: 250px;"  alt="Placeholder Image"><br/><br/>
            {% endif %}


            </div>
            <div class="col-8">
                <table class="table table-hover table-striped table-bordered shadow">
                    <tbody>
                        <tr>
                            <th scope="row">First Name</th>
                            <td>{{ profile.user.first_name}}</td>
                        </tr>
                        <tr>
                            <th scope="row">Last Name</th>
                            <td>{{ profile.user.last_name }}</td>
                        </tr>

                        <tr>
                            <th scope="row">Email</th>
                            <td>{{ profile.user.email}}</td>
                        </tr>

                        <tr>
                            <th scope="row">Phone</th>
                            <td>{{ profile.phone_number}}</td>
                        </tr>

                        <tr>
                            <th scope="row">Specialization</th>
                            <td>{{ profile.specialization}}</td>
                        </tr>
                        <tr>{% if request.user.id == profile.user.id %}
                            <th scope="row"></th>
                            <td><a href="{% url 'updateUser' %}" class ="btn btn-secondary">Update Profile</a>
                            {% endif %}</td>
                        </tr>
                        <!-- Add more rows for other profile information -->
                        
                    </tbody>
                    
                </table>
                
            </div>
        </div>
       

    
<div class="">
    <!-- {% if profile.profile_image %}
    <img src="{{ profile.profile_image.url }}" class="img-fluid rounded-circle" ><br/><br/>
    {% endif %} -->
    {% if user.is_authenticated and user.profile == profile %}
    <div class="col-md-12 card shadow" style="height: 55vh; overflow-y: auto;">
        <div class="card-header">
            <div class="d-flex justify-content-between align-items-center">
                <h5 class="mb-0">Currently Treating:</h5>
                <form class="d-flex">
                    <div class="input-group">
                        <input type="text" class="form-control" name="searchInput" placeholder="Search patients">
                        <button class="btn btn-outline-secondary" type="submit">Search</button>
                    </div>
                    <a href="{% url 'addPatient' %}" class="btn btn-sm btn-secondary ms-2">Create New Patient</a>
                </form>
            </div>
        </div>
    
        <div class=" card-body">
            <table class="table table-striped table-bordered table-hover shadow">
                <thead>
                    <tr>
                        <th scope="col">Patient ID</th>
                        <th scope="col">Patient Name</th>
                    </tr>
                </thead>
                <tbody>
                    {% for treating in profile.treats.all %}
                        <tr>
                            <td><a href="{% url 'showPatient' treating.id %}">AKUH{{ treating.id }}PK</a></td>
                            <td><a href="{% url 'showPatient' treating.id %}">{{ treating.firstName }} {{ treating.lastName }}</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% endif %}

 

  <br/><br/>
  <!-- <div class="card">
    <h5 class="card-header">Treated By</h5>
    <div class="card-body">
      <p class="card-text">
        {% for treating in profile.treated_by.all %}
        <a href="{% url 'profile' treating.user.id %}">@{{ treating }}</a><br/>
      
        {% endfor %}
      </p>
    </div>
  </div> -->

  

  </div>
</div>
</div>

  

{% endif %}
  
  
{% endblock %}