{% extends 'base.html' %}
{% load static %}
{% block title %}
  CV - detect
{% endblock %}

{% block content %}
<div class="container mt-5">

  {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      There was an error with your form
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}

  <h1 class="custom-h1">Registration</h1>

  <div class="row justify-content-center g-2"style="background-color: #f2f2f2;">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body" style="background-color: #f2f2f2;">
         

          <form action="{% url 'register_user' %}" method="POST">
            {% csrf_token %}

            {% for field in form %}
              <div class="mb-3">
                {{ field.label_tag }}
                {{ field }}
                {% if field.name == 'password1' %}
                  <small class="form-text text-muted">
                    Your password can’t be too similar to your other personal information.<br>
                    Your password must contain at least 8 characters.<br>
                    Your password can’t be a commonly used password.<br>
                    Your password can’t be entirely numeric.
                  </small>
                {% endif %}
              </div>
            {% endfor %}

            <div class=" mt-4">
              <button type="submit" class="btn btn-secondary">Register</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow role">
        <img src="{% static 'images/heart2.png' %}" class="card-img-top" style="height: 400px;" alt="Image">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">CV-Detect</h5>
          <p class="card-text">Healthy heart,Healthy Life! </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
