{% extends 'base.html' %}
{% load static %}
{% block title %}
  CV - detect
{% endblock %}

{% block content %}
<div class="container mt-5">

  {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      There was an error with your form
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}

  <h1 class="custom-h1">Register</h1>

  <div class="row justify-content-center g-1" style="background-color: #f2f2f2;">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body" style="background-color: #f2f2f2;">
          

          <form action="{% url 'register_user' %}" method="POST">
            {% csrf_token %}

            {{ form.as_p }}

            <div class="text-center mt-4">
              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow">
        <img src="{% static 'images/heart7.jpg' %}" class="card-img-top" alt="Image">
        <div class="card-body">
          <h5 class="card-title">CV-Detect</h5>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
