{% extends 'base.html' %} 

{% block title %}
  CV - Detect
{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="text-center">
    <h3 class="display-4 mb-4 shadow">{{ patient }}</h3>
  </div>

  <div class="card shadow">
    <h5 class="card-header bg-secondary text-white">Patient Details</h5>
    <div class="card-body">
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><strong>First Name:</strong> {{ patient.firstName }}</li>
        <li class="list-group-item"><strong>Last Name:</strong> {{ patient.lastName }}</li>
        <li class="list-group-item"><strong>Email Address:</strong> {{ patient.email }}</li>
        <li class="list-group-item"><strong>Phone Number:</strong> {{ patient.phoneNo }}</li>
        <li class="list-group-item"><strong>Gender:</strong> {{ patient.sex }}</li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}
