{% extends 'base.html' %} 
{% load static %}
{% block title %}
  Register
{% endblock %}

{% block content %}

{% if form.errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
    There was an error with your form
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endif %}

<div class="container mt-5">
    <h1 class="custom-h1">Update Profile</h1>
    <div class="row col-md-12 g-2 rounded" style="background-color: #f2f2f2;">
<!-- 
    <div class="row justify-content-center"> -->
        <div class="col-md-6 ">
            <div >
                <div class="card-body" style="background-color: #f2f2f2;">
                    <h3 class="card-title text-center mb-4"></h3>

                    <form action="{% url 'updateUser' %}" method="POST" enctype="multipart/form-data" class="border p-3 rounded shadow">
                        {% csrf_token %}
                      
                        <div class="container">
                          <div class="row">
                            <div class="col-md-12">
                              
                            </div>
                          </div>
                      
                          <div class="row justify-content-center">
                            <div class="col-md-6">
                              {{ user_form.as_p }}
                            </div>
                      
                            <div class="col-md-6">
                              {{ profile_form.as_p }}
                            </div>
                          </div>
                      
                          <div class="row justify-content-center">
                            <div class="col-md-12">
                              <button type="submit" class="btn btn-primary">Update</button>
                            </div>
                          </div>
                        </div>
                      </form>
                                            
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card shadow">
                <img src="{% static 'images/heart7.jpg' %}" class="card-img-top img-fluid" alt="Image">
                <div class="card-body bg-dark text-white">
                    <h5 class="card-title">CVDetect</h5>
                    <p class="card-text">Healthy Heart, Healthy Life!</p>
                </div>
            </div>
        </div>

       
    </div>
</div>

{% endblock %}
