{% extends 'base.html' %}
{% load static %}

{% block title %}
  CV - detect
{% endblock %}

{% block content %}
<div class="container mt-5">

  {% if form.errors %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      There was an error with your form
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %}

  <h1 class="custom-h1">Update Health Records</h1>

  <div class="row justify-content-center g-1 rounded" style="background-color: #f2f2f2;" >
    <div class="col-md-6">
      <div class="card shadow">
        <div class="card-body" style="background-color: #f2f2f2;">
          

          
          <form method="post" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="row">
                <div class="col-md-6">
                  <button type="submit" class="btn btn-primary">Update</button>
                </div>
                <div class="col-md-6">
                  <a href="{% url 'showPatient' patient.id %}" class="btn btn-secondary mt-2">Back to Patient Details</a>
                </div>
              </div>
            </form>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card shadow">
        <img src="{% static 'images/heart9.jpg' %}" class="card-img-top img-fluid h-100" alt="Image">
        <div class="card-body bg-dark text-white">
          <h5 class="card-title">CV-Detect</h5>
          <p class="card-text">Healthy Heart, Healthy Life!</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
