{% extends 'base.html' %}

{% block title %}
  Health Records
{% endblock %}

{% block content %}

  <div class="container mt-4">
    {% if patient_vitals %}
    <h2 class="mb-4 custom-h1">{{ patient_vitals.patient.firstName }}'s Health Records</h2>
    {% endif %}

    {% if patient_vitals %}
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Patient ID: {{ patient_vitals.patient.id }}</h5>
          <p class="card-text">Patient Name: {{ patient_vitals.patient.firstName }} {{ patient_vitals.patient.lastName }}</p>
          <p class="card-text">Date Recorded: {{ patient_vitals.dateModified }}</p>

          <h3 class="mt-4">Vitals Information</h3>
          <ul class="list-group">
            <li class="list-group-item">Temperature: {{ patient_vitals.temperature }} &#8451;</li>
            <li class="list-group-item">Blood Pressure: {{ patient_vitals.blood_pressure }} mmHg</li>
            <li class="list-group-item">Heart Rate: {{ patient_vitals.heart_rate }} bpm</li>
            <li class="list-group-item">Respiratory Rate: {{ patient_vitals.respiratory_rate }} breaths per minute</li>
            
          </ul>

          <div class="container mt-4">
            <h3>Doctor's Comments</h3>
            <form method="post" action="{% url 'view_health_records' patient_id=patient_vitals.patient.id %}">
              {% csrf_token %}
              {{ comments_form.as_p }}
              <button class="btn btn-success mt-3" type="submit">Save Comments</button>
            </form>
          </div>

          <!-- Form for specifying test type and sending to lab -->
          <div class="container mt-4">
            <h3>Send to Lab</h3>
            <ul class="list-group mt-4">
              <li class="list-group-item">Lab Test Status: {{ lab_test.status }}</li>
              <!-- Add more list items as needed -->
            </ul>

            <form method="post" action="{% url 'send_to_lab' lab_test_id=patient_vitals.id patient_id=patient_vitals.patient.id %}">
              {% csrf_token %}
              <div class="mb-3">
                <label for="id_test_type" class="form-label">Test Type:</label>
                {{ lab_test_form.test_type }}
              </div>
              <button class="btn btn-success mt-3" type="submit">Send to Lab</button>
            </form>
         


    
          {% endif %}


<!-- view_health_records.html -->
{% if patient_vitals %}
  <a href="{% url 'view_first_13_predictions' patient_id=patient_vitals.patient.id %}" class="btn btn-primary mt-3">
    View First 13 Predictions
  </a>
{% endif %}

  
    <!-- ... existing content ... -->

        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}






