<!-- view_health_records.html -->

{% extends 'base.html' %}

{% block title %}
  Health Records
{% endblock %}

{% block content %}
  <h2>Health Records</h2>

  {% if patient_vitals %}
    <p>Patient ID: {{ patient_vitals.patient.id }}</p>
    <p>Patient Name: {{ patient_vitals.patient.firstName }} {{ patient_vitals.patient.lastName }}</p>
    <p>Date Recorded: {{ patient_vitals.dateModified }}</p>

    <h3>Vitals Information</h3>
    <p>Temperature: {{ patient_vitals.temperature }} &#8451;</p>
    <p>Blood Pressure: {{ patient_vitals.blood_pressure }} mmHg</p>
    <p>Heart Rate: {{ patient_vitals.heart_rate }} bpm</p>
    <p>Respiratory Rate: {{ patient_vitals.respiratory_rate }} breaths per minute</p>

    <!-- Add more fields as needed -->
  {% else %}
    <p>No health records found for the specified patient.</p>
  {% endif %}
{% endblock %}
